$backgroundInputForm: #D5D7E2;
$onboardingTextColor: #2E386F;
$onboardingTextColorHover2: #8ba1b8;
$onboardingTextColorHover: #3364db;
$infoMessageBoxBorder: #b3b8d9;
$alert: #f0a06d;
$finexkapGreen1: #5AE28B;
$finexkapGreen2: #45C473;
$finexkapGreen3: #4EE588;
$cloudy-blue: #c2c2ca;

.checkList {
  margin-top: 10px;

  &__elem {
    margin: 0;
    position: relative;
    margin-bottom: 5px;
    .icons {
        font-size: 15px;
      }
    &.checkList__ok {
      .icons {
        color: $finexkapGreen1;
      }
    }

    &:not(.checkList__ok) {
      color: $cloudy-blue;
      .icons {
        color: $cloudy-blue;
      }
    }
  }

}

.icon__validate {
  font-size: 20px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.secure {
  &__password {
    display: flex;
    border: none;
    width: 100%;
    background: rgba(90, 226, 139, 0.3);
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
  }

  &__text {
    font-size: 14px;
    margin: 0;
  }
}
