<div *ngIf="displayPasswordBox === true && isSecurePassword === false" class="mb-32">
  <div class="checkList">
    <p class="checkList__elem" [ngClass]="{ 'checkList__ok': oneLowercaseLetter === true }"><i class="material-icons icons ">done</i> Une lettre minuscule</p>
    <p class="checkList__elem" [ngClass]="{ 'checkList__ok': oneUppercaseLetter === true }"><i class="material-icons icons ">done</i> Une lettre majuscule</p>
    <p class="checkList__elem" [ngClass]="{ 'checkList__ok': oneNumberChar === true }"><i class="material-icons icons ">done</i> Un nombre</p>
    <p class="checkList__elem" [ngClass]="{ 'checkList__ok': minPasswordLength === true }"><i class="material-icons icons ">done</i> six caractère</p>
    <p class="checkList__elem" [ngClass]="{ 'checkList__ok': specialChar === true }"><i class="material-icons icons ">done</i> Un caractère spécial</p>
  </div>
</div>

<div *ngIf="newPassword && isSecurePassword === true" class="secure__password mb-32">
  <i class="material-icons icon__validate">done</i>
  <p class="secure__text">votre mot de passe_est sécurisé</p>
</div>
